html,
body {
  background-color: black;
  font-family: sans-serif;
}

body {
  height: auto;
  width: auto;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: stretch;
  justify-content: center;
  transition: background-color 1000ms;
  flex-direction: column;
}

.container {
    margin: 20px;
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 5px;
    margin: 2em;
    justify-content: center;
  }
  
  .div-header {
    background-color: #ffffff;
    width: 50%;
    height: auto;
    border-radius: 1.25em;
    margin: 0;
    padding: 1.2em;
  }

  header {
    color: #fff;
    padding: 18px;
    /* border-radius: 1.25em; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  nav li {
    display: inline-block;
      margin-right: 20px;
      /* background-color: #000000; */
      border-radius: 0.6em;
      /* padding: 1.2em; */
      height: 28px;
      width: 312px;
      text-align: center;
      justify-content: center;
      align-items: center;
  
  }
  
  nav a {
    color: #000;
      text-decoration: none;
  }
  
  nav a:hover {
    color: #ccc;
  }
  
  nav span {
    color: #fff;
    margin-right: 10px;
  }

    .profile-form {
        display: flex;
    margin: 1.5em;
    padding: 1.2em;
    text-align: center;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    }

    .profile-form input[type="text"],
    .profile-form input[type="email"],
    .profile-form input[type="password"],
    .profile-form input[type="number"] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }  

.profile-form button {
    background-color: #1b5aa1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 28em;
}

.profile-form button:hover {
    opacity: 0.8;
}

.update-pss-form input[type="text"],
.update-pss-form input[type="password"] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }  

.update-pss-form button {
    background-color: #1b5aa1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 28em;
}

.update-pss-form button:hover {
    opacity: 0.8;
}

.update-pss-form {
    display: flex;
    margin: 1.5em;
    padding: 1.2em;
    text-align: center;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}